body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(image.png);
  background-size: cover;
}

.calculator {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
}

.display {
    background-color: #222;
    color: #fff;
    font-size: 2em;
    padding: 20px;
    text-align: right;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    background-color: #222;
    padding: 20px;
    font-size: 1.5em;
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e0e0e0;
}

.btn:active {
    background-color: #d0d0d0;
}
h1{
    padding-bottom: 50rem;
    color: #d0d0d0;
    padding-top: 5rem;
    
}


